.viewer-title {
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.title {
  flex: 1 1 auto;
  font-size: 20px;
}

.close {
  float: right;
}

.container {
  text-align: center;
}

.forms {
  width: 100%;
  margin-top: 20px;
}

.imageList{
margin-left: 207px;
margin-top: -30px;
}
